<div class="row">
    <div class="col-md-4">
      <h1>Encode String</h1>
      <hr><br>
      <div *ngIf="errorMessage">
        <div class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
      </div>
      <form  (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="form-group">
          <label for="string">Encode_string</label>
          <input
            [(ngModel)]="user.string"
            name="string"
            required
            class="form-control"
            id="string"
            placeholder="enter your string">
        </div>
        <div class="form-group">

            <p>Output <em>{{ encode_string | json}}!</em></p>
            
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a [routerLink]="['/']" class="btn btn-success">Cancel</a>
    </form>
    </div>
  </div>